<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BILLINGS</title>

    <style>
          body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: gray; 
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Bill Summary</h2>
    <table>
        <thead>
            <tr>
                <th>Bill No.</th>
                <th>Labour Hours</th>
                <th>Labour Cost</th>
                <th>Labour Selling</th>
                <th>Equipment Cost</th>
                <th>Equipment Selling</th>
                <th>PM Cost</th>
                <th>PM Selling</th>
                <th>PM Hours</th>
                <th>Maint Hrs</th>
                <th>Sundries Cost</th>
                <th>Sundries Selling</th>
                <th>P & G Selling</th>
                <th>P & G Cost</th>
                <th>Bill Sell Tot</th>
                <th>Bill Cost Tot</th>
                <th>HW Replacement Prov</th>
            </tr>
        </thead>
        <tbody>
           <td>..</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
           <td>0.00</td>
        </tbody>
    </table>
</body>
</html>
